
* {box-sizing: border-box;}

body,html{
margin:0;
padding:0;
}

h1,h2,h3,h4,h5,h6,p,figure{
  padding:0; margin:0;
  font-family: 'Noto Sans KR', sans-serif;
}

a{text-decoration: none; font-family: 'Noto Sans KR', sans-serif;}

#app{
  margin:0;
  padding:0;
}

@media(max-width:480px){
  body,html{
    background: #d3d3d3;;
  }
}